*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: montserrat;
  background: url(background.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

nav{
  background: #8b625b;
  height: 80px;
  width: 100%;
  display: flex;
  z-index: 100;
}

.logo img{
  width: 130px;
  margin-right: 10px;
  padding-left: 50px;
}

.logo{
  flex: 1;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 20px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 7px;
  text-transform: uppercase;
}

a:hover{
  background-color: #a47b74;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

.contact{
  padding: 80px 0px;
}

.containter{
  max-width: 80vw;
  margin: 0 auto;
  padding: 0 20px;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.flex{
  flex:0 0 50%;
  max-width: 50%;
  padding: 0 20px;
}

.contact h1{
  font-size: 45px;
  margin-bottom: 20px;
  color: #8b625b;
}

.contact h2{
  font-size: 25px;
  color: #8b625b;
  margin-bottom: 20px;
}

.contact h3{
  font-size: 20px;
  color: #8b625b;
  margin-bottom: 8px;
}

.contact p{
  font-size: 15px;
  line-height: 1;
  margin-bottom: 20px;
}

.contact iframe{
  display: block;
  width: 40vw;
  height: 45vh;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.social-links{
  margin-bottom: 20px;
}

.social-links a{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  color: #8b625b;
  background-color: #ebe2e0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: all 0.4s ease;
}

.social-links a:hover{
  transform: translateY(-3px);
}

@media (max-width: 1000px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}

@media (max-width: 1050px){
  .checkbtn{
    display: block;
  }
  ul{
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 42vh;
    background: #8b625b;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    width: 100%;
    display: block;
    margin: 15px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a.hover{
    background: none;
    color: #000;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

@media screen and (max-width: 900px){
  .row{
    flex-direction: column;
  }
  .flex{
    max-width: 100%;
  }
  .contact iframe{
    width: 80vw;
    height: 30vh;
    margin-left: 0;
  }
  body{
    background: #E6D0CA;
  }
}
